* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ededed;
	background-color: #333333;
    font-family: 'Seymour One', sans-serif;
}

#tinytinyblog {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 42.6666666667%;
    # padding: 1.5rem;
    # background-color: white;
}
#tinytinyblog div {
    margin-top: 1.5rem;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 1.5rem;
    # padding-top: 3rem;
    # padding-bottom: 1.5rem;
    # width: 42.6666666667%;
    background-color: white;
}
#tinytinyblog h1 {
	font-family: "Seymour One", sans-serif;
    text-align: center;
    font-size: 1.8rem;
	font-weight: normal;
}
#tinytinyblog p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    text-align: justify;
    # padding: 1.5rem;
}
#tinytinyblog h2 {
	text-align:right;
	font-family: "Seymour One", sans-serif;
	font-size: 1rem;
	padding: .8rem;
	padding-bottom: 1.6rem;
}

#tinytinyblog img {
	image-rendering: pixelated;
	height: 14.4rem;
    float: left;
	width: auto;
    padding-top: .6rem;
    padding-right: .6rem;
}
#tinytinyblog div::after{
	content: "";
    clear: both;
	display: table;
}

.blog {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    width: 42.6666666667%;
    background-color: white;
}
.blog__title {
    text-align: center;
    font-size: 1.8rem;
}
.blog__publishingdate {
	text-align:right;
	font-size: 1rem;
	padding: .8rem;
	padding-bottom: 1.6rem;
}
.blog__contents {
    text-align: justify;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    # padding: 1.5rem;
}
/* One column including margin is 12.5%   5.333333% */
.header {
    /* margin-left: 255px; */
    /* margin-right: 255px; */
    display: flex;
    width: 100%;
    margin-top: 3rem;
    # background-color: #d2860a;
	background-color: #ffa500;
    color: white;
	color: #333;
	color: #fafafa;
    # height: 21rem;
	padding: 3rem;
    text-align: center;
}
@media only screen and (max-width: 700px) {
    * {
    font-size: 10px;
    }
    body {
        width: 100%;
        /* margin: -0px;
        padding: 0; */
     }
     .header {
        margin-top: 0;
        height: auto;
        padding-bottom: 3rem;
     }
}
.header__title {

    font-size: 3.1rem;
    font-weight: bold;
    letter-spacing: .5rem;
}
.header__subtitle {
    font-size: 1.2rem;
}

.vert-align {
    width: 100%;
    margin-top: 3.35rem;
    /* margin-bottom: auto; */
}
.socialmedia {
    display: flex;
	margin-top: 1.5rem;
    justify-content: center;

}
.socialmedia__button:hover {
    opacity: .8;
    cursor: pointer;
}

.socialmedia__button {
    background-color: #390ad2;
    width: 4.5rem;
    height: 4.5rem;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialmedia__icon {
    width: 60%;
}
.subpages {

	display: flex;
	align-items: center;
	# justify-content: space-around;
    justify-content: center;
    font-weight: bold;
    letter-spacing: .5rem;
}
.subpage {
	opacity: .8;
	font-size: 1.5rem;
	padding: 1.5rem;
}

.subpage:hover {
	cursor: pointer;
	opacity: 1.0;
	transform: scale(1.2);
}
.bar {
	font-size: 3.0rem;
}

.textbox {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    width: 42.6666666667%;
    background-color: white;
}

@media only screen and (max-width: 700px) {
    .textbox {
        /* margin-top: 1.5rem; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        padding: 1.5rem;
        width: 100%;
        background-color: white;
    }
}
.textbox__title {
    text-align: center;
    font-size: 1.8rem;
}
.textbox__text {
    text-align: justify;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    padding: 1.5rem;
}
.textbox__text2 {
    text-align: justify;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding:.75rem;
}

.textbox__text b {
    font-size: 1.2rem;
}
@media only screen and (max-width: 700px) {
    .textbox__text, b {
        /* margin-top: 2.5rem; */
        font-size: 1.2rem;
        text-align: center;
    }
}
.pixelart {
	image-rendering: pixelated;
	height: 14.4rem;
    float: left;
	width: auto;
    padding-top: .6rem;
    padding-right: .6rem;
}

.clearfix::after {
	  content: "";
	    clear: both;
		  display: table;
	  }
.project{
    min-height: 4.5rem;
    font-size: 1.2rem;
}
/* .project:hover {
    color: white;
    background-color: black;
    cursor: pointer;
} */
.textbox__image {
    float: left;
    width: 10rem;
    padding-top: .6rem;
    padding-right: .6rem;
}
@media only screen and (max-width: 700px) {
    .textbox__image {
        float: none;
        width: 100%;
        margin: 0;
        height: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
