/* About me css */
.about {
	/* display: inline-block; */
	/* align-self: center; */
	/* margin: 0 auto; */
	/* justify-content: center; */
	/* width: 60vw; */
	/* font-size: 80%; */
	/* position: relative; */
    display: flex;
	flex-direction: column;	
	background-color: rgba(255, 106, 2, 0.7);
	padding: 2em;
	/* border-radius: .5vw;     */
}

.about-img {
	margin: auto;
	/* background: blue; */
	width: 15vh;
	height: 15vh;
	background: url(../images/logos/floppy.png);
	background-size: cover;
}

/* img.circle {
	width: 25%;
	height: auto;
	float: center; 
	border-radius: 50%;
	margin-right:2%; 
	border-radius: 50%;
	-webkit-shape-outside:circle();
	shape-outside:circle();
} */

