.app {
    position: relative;
    max-width: 98vw;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    margin: 8vh auto auto auto;
    /* border-radius: 20vh; */
    /* background: blue; */
	/* font-size: 80%; */
    /* max-height: 98vw; */
    /* width: auto; */
    /* height: auto; */
    /* max-height: 50vh; */
    /* justify-content: center;
    align-content: center; */
    /* margin: ; */
    /* flex-wrap: nowrap; */
}

/* .canvas-box {
   background: blue;
   width: auto;
    height: auto;
    padding: 0;
} */
.canvas {
    margin: 0;
    /* margin-bottom: -500px; */
    /* background: pink; */

}
/* #canvas { */
    /* margin: 0; */
/* } */
.infobox {
    line-height: 1em;
    padding: .5em;
    /* font-size: 1rem; */
    /* margin-left: 2%; */
    max-width: 93vw;
    /* max-height:  */
    width: 93vw;
    margin: auto;
    /* height: 100%; */
    background: lightslategray;
    /* border-radius: .5vw; */
    color: white;
}

.infobox__h3 {

}

.infobox__button {
    width: 96vw;
    height: 4em;
}

button {
    width: 94vw;
    height: 4em;
}