body {
	background-image: url("../../src/images/background/m-thewall.jpg");
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	color: rgba(90, 45, 0, 1);
    margin: 0px;
    padding: 0px;
}

li {           
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 106, 2, 0.75);
}
