/* NAVIGATION */
#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    text-decoration: none;
    font-size: 90%;
	background-color: black;
    opacity: 0.8;
    color:rgba(255, 106, 2, 0.75);
    display: flex;
    justify-content: space-between;
}

/* MENU ROUTER LINKS */
.hamburger-icon {
    margin: 1vh;
    padding: 1vh;
	height: 6vh;
    width: auto;
    background: #222222;
    opacity: 1;
    border-radius: 1vh;
}

/*  SOCIAL MEDIA LINKS */
#social-links {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

#social-media li{
    margin:auto;
}
.social-image {
    padding: 2.5vh;
    justify-content: center;
    height: 5vh;
}