/* About me css */
.about {
	font-size: 80%;
    display: flex;
	flex-direction: column;	
	background-color: rgba(255, 106, 2, 0.7);
	padding: 2vw;
	border-radius: .5vw;    
}

.portrait:hover {
	opacity: 0.8;
}

img.circle {
	float: left;
	border-radius: 50%;
	margin-right:2rem; 
	border-radius: 50%;
	-webkit-shape-outside:circle();
	shape-outside:circle();
}

