.app {
	font-size: 80%;
    width: 100vw;
    justify-content: center;
	display: flex;
	padding: .5vw;
	margin-top: 11vh;
}

.infobox {
    padding: 2%;
    margin-left: 2%;
    max-width: 40%;
    height: 100%;
    background: lightslategray;
    border-radius: .5vw;
    color: white;
}