.coding {
    display: flex;
    align-items: flex-start;
    /* justify-content: left; */
    /* flex-direction: column; */
    padding: 0em, 4em, 4em, 4em;
    background-color: rgba(255, 106, 2, 0.7);
    color: rgba(90, 45, 0, 1);
}

.coding ul {
    justify-content: flex-start;
    padding: 1rem;
}

.coding-menu {
    width : auto;
    background-color: pink;
}

.coding-viewport {
    width: 80%;
    background-color: green;
}