footer {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 106, 2, 0.75);
    text-align: center;
    margin: 0px;
    padding: .1em;
}

footer h4 {
    margin: 0em;
    padding: 0em;
	color: rgba(255, 106, 2, 0.75);
}

footer a:link {
	text-decoration: none;
	color: rgba(255, 106, 2, 0.75);
}

footer a:visited { 
	color: rgba(255, 106, 2, 0.75);
}

footer a:active {
	color: rgba(255, 106, 2, 0.75);
}
footer a:hover { 
	color: rgba(255, 106, 2, 1);
}

#weblinks li {
    padding: 10px;
}

#weblinks {
    display: flex;
    justify-content: center;
}