body {
	background-image: url("../images/background/thewall.jpg");
	background-size: stretch;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: rgba(90, 45, 0, 1);
	animation: 0.5s fadein 0.1s forwards;
    margin: 0px;
    padding: 0px;
}

li {           
    list-style-type: none;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

a {
    text-decoration: none;
	color: #cccccccc;
	/* rgba(255, 106, 2, 0.75); */
}

.mobile {
	display: none;
}