/* NAVIGATION */
#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    text-decoration: none;
    font-size: 90%;
	background-color: black;
    opacity: 0.8;
    color:rgba(255, 106, 2, 0.75);
    display: flex;
    justify-content: space-between;
}

/* MENU ROUTER LINKS */
#nav-links {
    color: rgba(255, 106, 2, 0.75); 
    display: flex;
    margin: auto  0 auto 0;   
    justify-content: center; 
    align-content: center;
}

#nav-links a:hover {
    color: rgba(255, 106, 2, 1);
}
#nav-links li{
    padding: 1em;
}

/*  SOCIAL MEDIA LINKS */
#social-links {
    height: 100%;
    display: flex;

}
#social-links a:hover {
    opacity: 0.8;
}
#social-media li{
    padding: 0 3vw 0 0;
}
.social-image {
    padding: 0;
    margin: 0;
    justify-content: center;
    height: 5vh;
}