<link rel="stylesheet" href="./styles/about.css">
<div class="about">
    <p>
        <!-- <br><br> -->
        <!-- <img class="circle portrait" src="./images/drawings/nilkun.png" alt="drawing of nilkun" width="250px"> -->
        <div class="about-img"></div>
        <p>
        <strong>Hello there and welcome to my home.</strong>
        <br>
        <br>
        I'm an avid Arch Linux user and Awesome WM fan, who gets things done with a bit of trial and syntax error. 
        <br>
        <br>This website hasn't been updated in ages. Visit my <a href="https://itch.io/profile/nilkun">itch.io</a> page instead, or check out my <a href="https://github.com/nilkun">Github</a> repository.
        <br>
        <br>
        Thank you for dropping by!
        </p>
    </p>
</div>
