<link rel="stylesheet" href="./styles/about.css">
<div class="about">
    <p>
        <!-- <br><br> -->
        <!-- <img class="circle portrait" src="./images/drawings/nilkun.png" alt="drawing of nilkun" width="250px"> -->
        <div class="about-img"></div>
        <p>
        <strong>Hello there and welcome to my home.</strong>
        <br>
        <br>
        I'm an avid Arch Linux user and Awesome WM fan, who speaks broken JavaScript and C++, 
        and get things done with a bit of trial and syntax error. 
        <br>
        <br>
        The first computer I ever owned was a Zenith Z-181 with two 3.5" floppy-disk drives. I spent a lot of time on it playing Space Quest and typing in BASIC games that never worked. 
        <br>
        <br>
        Besides computers, I also happen to love making stuff in the real world, be it food or hacking IKEA furniture.
        <br>
        <br>
        Thank you for dropping by!
        </p>
    </p>
</div>