<html>
    <head>
        <title>Algorithms</title>
    </head>
    <body>
        <canvas id="canvas">Algos!!!</canvas>
        <div class="infobox">
                <h3>L-System / Turtle Graphics</h3>
                L-system structure drawing using my own turtle graphics implementation.
                <br>
                <br>
                Click to add generations.
                <br>
                <br>
            <button class="infobox__button">CLICK ME</button>
            <div id="text"></div>
        </div>

        <script type="module" src="./scripts/codepen.js"></script>
    </body>
</html>
