
.startScreen {
    /* align-content: center; */
    font-family: Arial;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
    margin: 0;
    max-height: 20vh;
}

.startGame {
    color: orange;
    background: darkred;
    border-color: red;
    border-style: solid;
    width: 10vw;
    align-self: center;
    border-radius: 1vw;
}

.slider {

    align-self: center;
    -webkit-appearance: none;
    width: 20vw;
    height: 2vw;
    background: #884400;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    height: 2vw;
    background: #ff8800;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2vw;
    height: 2vw;
    background: #ff8800;
    cursor: pointer;
}